parameters:
    phpVersion: 80100
    level: max
    paths:
        - src
        - tests
    tmpDir: /tmp/consistent-versions-phpstan
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 1
