parameters:
    level: max
    paths:
        - src
        - tests
        - tools
    tmpDir: /tmp/consistent-versions-phpstan
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 1
